.page-content {
    display: flex;
    justify-content: center;
    align-items: center;
}

body {
    font-family: 'Open Sans', sans-serif;
    font-family: 'Roboto', sans-serif;
}

.textalign {
    text-align: center;
}

.title-large-text {
    text-align: center;
    font-size: 32px;
}

.adjust {
    padding-bottom: 150px;
}

h1 {
    padding-bottom: 30px;
    text-align: center;
    font-size: 32px;
}

p {
    text-align: left;
    font-size: 16px;
    padding-top: 15px;

}

.button {
    font-size: 24px;
    text-align: center;
    color: white;
    display: inline-block;
    background-color: #676767
}

.button-fill {
    background-color: grey;
}

.shift {
    padding-top: 45px;
    text-align: center;
    margin: 4px 2px;
}

.material-icons.modify { 
    font-size: 248px; 
    color: linear-gradient(90deg, rgba(6,3,13,1) 0%, rgba(22,195,223,1) 60%, rgba(25,20,91,1) 100%);
}

.infotext {
    text-align: center;
}

.resource {
    font-size: 21px;
    text-align: center;
}

.linkinfo {
    font-size: 10px;
    text-align: center;
}