.page-content {
    display: flex;
    justify-content: center;
    align-items: center;
}

.title-large {
    font-family: 'Roboto', sans-serif;
}

.textalign {
    text-align: center;

}

.title-large-text {
    text-align: center;
}

.adjust {
    padding-bottom: 150px;
}

h1 {
    padding-bottom: 30px;
    text-align: center;
    font-size: 32px;
}

p {
    text-align: left;
    font-size: 16px;
    padding-top: 15px;

}

.button {
    text-align: left;
    color: black;
    font-size: larger;
}

.button-fill {
    background-color: grey;
}

.shift {
    padding-top: 45px;
}

.material-icons.modify { 
    font-size: 248px; 
    color: darkblue;
}